@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f9f9f9;
  /* Set the width and height of the scrollbar */
  scrollbar-width: thin;

  /* Set the color of the scrollbar track */
  scrollbar-color: #f5f5f5 #ddd;

  /* Set the styles for the scrollbar thumb */
  scrollbar-thumb-border-radius: 10px;
  scrollbar-thumb-background-color: #437bcf;
}

/* Set the styles for the scrollbar track */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Set the styles for the scrollbar thumb */
body::-webkit-scrollbar-thumb {
  background-color: #437bcf;
  border-radius: 10px;
}
